<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>re:GAF 3.5</title>
		<style>
			body {
				font-family: sans-serif;
				color: #333;
			}
			h2 {
				font-size: 85%
			}
		</style>
	</head>
	<body>
		<section>
			<h1>re:GAF <var>3.5</var></h1>
			<h2>A nice little modification of the default GAF style</h2>
			<p>Sinatra creates a localhost version of the CSS, which can be accessed at <a href="/css/regaf.css" target="_blank">/css/regaf.css</a>.</p>
		</section>
	</body>
</html>
