// 2x stuff

body.forumhome #container {
  max-width: none !important;
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 150dpi),
    only screen and (min-resolution: 1.5dppx) {

    body, .threadbit-title, .post {
        font-size: 17px !important;
    }

    .smallfont, .tcat {
        font-size: 13px !important;
    }

    .postbit {
        padding-left: 150px !important;
    }

    .postbit-details {
        width: 140px !important;
        margin-left: -150px !important;
        padding-top: 50px !important;
    }

    .post-meta,
    .postbit-details-username a {
        height: 22px !important;
        min-width: 150px !important;
    }

    .postbit-details-usertitle {
        top: 32px !important;
    }

    .postbit-details-avatar {
        margin-top: 3px !important;
    }

    .postbit-details > .smallfont + .smallfont {
        margin: 0 !important;
        padding: 0 !important;
        height: 20px !important;
        line-height: 1.2 !important;
    }

    .multiquotelink, .post-links {
        line-height: 1.2 !important;
    }

    .postbit .post {
        margin-top: 19px !important;
    }

    .controlbar textarea,
    .quickreplyformp textarea {
        font-size: 0.9em !important;
    }

}
